{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
  <h1 class="display-4">Quem Somos?</h1>
  <p class="lead">
    A ImBurgeria é um restaurante delivery criado com objetivo de oferecer o
    melhor da gastronomia por preços acessíveis. Nosso sistema é otimizado para
    dar aos clientes informações sobre o status do seu pedido, bem como oferecer
    recursos que facilitam a realização de pedidos.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="Conheça nosso sistema."
          data-image="https://images.pexels.com/photos/604660/pexels-photo-604660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/604660/pexels-photo-604660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12  thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="Temos pizza..."
          data-image="https://images.pexels.com/photos/7658/food-pizza-box-chalkboard.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/7658/food-pizza-box-chalkboard.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12  thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="batatas fritas..."
          data-image="https://images.pexels.com/photos/1583884/pexels-photo-1583884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/1583884/pexels-photo-1583884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12  thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="refrecos..."
          data-image="https://images.pexels.com/photos/1265910/pexels-photo-1265910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/1265910/pexels-photo-1265910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="e muito mais!"
          data-image="https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="Im so nice"
          data-image="https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="Im so nice"
          data-image="https://images.pexels.com/photos/551991/pexels-photo-551991.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/551991/pexels-photo-551991.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="Im so nice"
          data-image="https://images.pexels.com/photos/3008/drinks-supermarket-cans-beverage.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/3008/drinks-supermarket-cans-beverage.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="Im so nice"
          data-image="https://images.pexels.com/photos/1251094/pexels-photo-1251094.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/1251094/pexels-photo-1251094.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="Another alt text"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="Im so nice"
          data-image="https://images.pexels.com/photos/1268551/pexels-photo-1268551.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/1268551/pexels-photo-1268551.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="Im so nice"
          data-image="https://images.pexels.com/photos/1549041/pexels-photo-1549041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/1549041/pexels-photo-1549041.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 thumb">
        <a
          class="thumbnail"
          href="#"
          data-image-id=""
          data-toggle="modal"
          data-title="Im so nice"
          data-image="https://images.pexels.com/photos/5604/salad-leaf-leaves-green.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          data-target="#image-gallery"
        >
          <img
            class="img-thumbnail"
            src="https://images.pexels.com/photos/5604/salad-leaf-leaves-green.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="Another alt text"
          />
        </a>
      </div>
    </div>

    <div
      class="modal fade"
      id="image-gallery"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="image-gallery-title"></h4>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span
              ><span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <img
              id="image-gallery-image"
              class="img-responsive col-md-12"
              src=""
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary float-left"
              id="show-previous-image"
            >
              <i class="fa fa-arrow-left"></i>
            </button>

            <button
              type="button"
              id="show-next-image"
              class="btn btn-secondary float-right"
            >
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
