{% extends "layout.html" %} {% block content %} <main class="login-form mt-4">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-header">
            <h1 style="font-size: 1.2rem;">Faça login</h1>
          </div>
          <div class="card-body">
            <form method="POST" action="">
              {{ form.hidden_tag() }}

              <div class="form-group row">
                {{ form.email.label(class="col-md-4 col-form-label text-md-right") }}

                <div class="col-md-8">
                  {% if form.email.errors %}
                  {{ form.email(class="form-control is-invalid") }}
                  <div class="invalid-input-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.email(class="form-control") }}
                  {% endif %}
                </div>
              </div>

              <div class="form-group row">
                {{ form.password.label(class="col-md-4 col-form-label text-md-right") }}

                <div class="col-md-8">
                  {% if form.password.errors %}
                  {{ form.password(class="form-control is-invalid") }}
                  <div class="invalid-input-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.password(class="form-control") }}
                  {% endif %}
                </div>
              </div>

              <div class="col-md-8 offset-md-4">
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('users.register') }}" class="btn btn-link">
                  Não tenho uma conta
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</main> {% endblock content
%}