{% extends "layout.html" %} {% block content %}

<div class="container">
  <div id="profilePanel" class="mt-5">
    <div class="row">
      <div class="col-md-12 col-lg-4 mb-3">
        <div id="picturePanel">
          <div class="text-center">
            <h1 style="font-size: 22px;"> Usuario123 </h1>
            <span class="badge badge-pill badge-info">Cliente</span>
          </div>
          <div class="text-center mt-2">
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" alt="avatar">
            <h6>Mude sua foto...</h6>
            <input type="file" class="text-center center-block file-upload">
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-8">
        <form>
          <div class="form-group">

            <label for="name" class="font-weight-bold">Nome</label>
            <input type="text" id="name" class="form-control" name="name" placeholder="Digite seu nome" required
              autofocus>
          </div>

          <div class="form-group">
            <label for="name" class="font-weight-bold">Sobrenome</label>
            <input type="text" id="name" class="form-control" name="name" placeholder="Digite seu sobrenome" required
              autofocus>
          </div>


          <div class="form-group">
            <label class="font-weight-bold"> Username</label>
            <input type="text" id="username" class="form-control" name="username" placeholder="Digite seu username"
              required autofocus>
          </div>


          <div class="form-group">
            <label for="password" class="font-weight-bold">Email:</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Digite seu email"
              required>
          </div>

          <button type="submit" class="btn btn-success mb-2"><i class="fas fa-save mr-2"></i>Salvar alterçaões</button>
          <button type="button" class="btn btn-primary mb-2"><i class="fas fa-backspace mr-2"></i>Cancelar</button>

        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}