{% extends "layout.html" %} {% block content %}

<div class="container mt-3">
  <div id="produtos-wrapper">
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="card">
          <div class="card-header bg-success text-white">
            <h1 style="font-size: 22px;"> Pedido #42582 (Saiu para a Entrega) </h1>
          </div>
          <div class="card-body">
            <p> <b> Cliente: </b> usuario123 </p>
            <p> <b> Resumo: </b> 2 x Coca Cola 1 Litro, 1 x Batata Frita... </p>
            <button type="button" class="btn btn-info">Gerenciar Pedido</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="card">
          <div class="card-header bg-success text-white">
            <h1 style="font-size: 22px;"> Pedido #42581 (Finalizado) </h1>
          </div>
          <div class="card-body">
            <p> <b> Cliente: </b> usuario123 </p>
            <p> <b> Resumo: </b> 1 x Coca Cola 2 Litros, 1 x Hamburguer X3 </p>
            <button type="button" class="btn btn-info">Gerenciar Pedido</button>
          </div>
        </div>
      </div>
      <div class=" col-md-6 mb-2">
        <div class="card">
          <div class="card-header bg-success text-white">
            <h1 style="font-size: 22px;"> Pedido #42580 (Finalizado) </h1>
          </div>
          <div class="card-body">
            <p> <b> Cliente: </b> usuario123 </p>
            <p> <b> Resumo: </b> 1 x Suco de Laranja </p>
            <button type="button" class="btn btn-info">Gerenciar Pedido</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}